.working-how-we-work,
.working-equipment,
.working-faq {
  font-weight: 500;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 140px 56px 0 56px;
  gap: 40px;
}
.working-faq {
  padding-bottom: 140px;
}
.working-faq > .working-intro {
  max-height: 440px;
}
.working-intro,
.working-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.working-info {
  row-gap: 37px;
}
.working-intro {
  row-gap: 30px;
  position: sticky;
  top: 100px;
}
.working-section-title,
.working-step-title {
  font-size: 20px;
  color: var(--color-black);
  letter-spacing: -0.01em;
}
.working-main-title {
  color: var(--color-black);
  font-size: 40px;
  letter-spacing: -0.03em;
}
.working-intro-text,
.working-step-description {
  color: #00000099;
  letter-spacing: -0.01em;
}
.working-step-description {
  font-size: 16px;
  white-space: normal;
  word-break: normal;
  hyphens: auto;
}

.working-steps {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.working-step {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 34px;
  column-gap: 20px;
  border-bottom: 1px solid #00000033;
}
.working-step-order {
  color: #0000004d;
  font-size: 14px;
}
.working-step-info {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}
.working-step-text {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-top: auto;
}
.working-step-img {
  object-fit: cover !important;
  width: 100%;
  height: 241px;
  overflow: hidden;
  flex-shrink: 0;
}
.working-full-production-img {
  width: 100%;
  height: 515px;
  object-fit: cover;
}
.btn-primary {
  width: max-content;
  margin-top: auto;
}
.working-faq-questions {
  width: 100%;
}
.working-faq-question {
  display: flex;
  max-height: 88px;
  font-family: 'Pragmatica';
  overflow: hidden;
  flex-direction: column;
  border-bottom: 1px solid #00000033;
  transition: max-height 0.3s ease;
}

.working-active {
  max-height: 500px;
}
.working-faq-answer {
  margin-top: 1px;
  padding-bottom: 30px;
}
.working-question {
  cursor: pointer;
  justify-content: space-between;
  padding: 31px 0;
}
.working-question-icon,
.working-question {
  display: flex;
  align-items: center;
}
.working-question-icon {
  padding: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.working-question-icon:hover {
  background: #0000000a;
}

@media (max-width: 1440px) {
  .working-step-img {
    width: 332px;
  }
}
@media (max-width: 1200px) {
  .working-step-img {
    width: 272px;
  }
  .working-step {
    grid-template-columns: 272px 1fr;
  }
}
@media (max-width: 1024px) {
  .working-how-we-work,
  .working-equipment,
  .working-faq {
    padding: 60px 40px 0 40px;
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .working-faq {
    padding-bottom: 60px;
  }
  .working-intro {
    width: 100%;
    position: static;
    padding-right: 0;
  }
  .working-main-title {
    font-size: 30px;
  }
  .working-intro-text {
    font-size: 14px;
  }
  .working-steps {
    width: 100%;
  }
  .working-step-img {
    width: 472px;
    height: 170px;
  }
  .working-step-title {
    font-size: 18px;
  }
  .working-step-description {
    font-size: 14px;
  }
  .working-full-production-img {
    width: 100%;
    padding-right: 0;
  }
  .working-step {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 860px) {
  .working-step-img {
    width: 377px;
  }
}
@media (max-width: 740px) {
  .working-how-we-work,
  .working-equipment,
  .working-faq {
    padding: 50px 20px 0 20px;
  }
  .working-faq {
    padding-bottom: 50px;
  }
  .working-info {
    gap: 30px;
  }
  .working-step {
    flex-direction: column-reverse;
    gap: 16px;
  }
  .working-step-img {
    width: 100%;
  }
  .working-step-info {
    padding: 0;
    gap: 16px;
  }
  .working-step-text {
    margin: 0;
  }
  .working-main-title {
    font-size: 26px;
  }
  .working-step-title {
    font-size: 16px;
  }
}
