.cert {
  padding: 140px 56px 60px 56px;
  background: white;
}

.cert-title {
  color: var(--color-black);
  font-size: 40px;
  letter-spacing: -0.03em;
  font-weight: 500;
  margin-bottom: 265px;
}

.cert-images {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.cert-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media (max-width: 1440px) {
  .cert-images {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1330px) {
  .cert-images {
    grid-template-columns: repeat(2, 1fr);
  }
  .cert-title {
    margin-bottom: 110px;
  }
}

@media (max-width: 1024px) {
  .cert-title {
    font-size: 30px;
    margin-bottom: 90px;
  }
  .cert {
    padding: 60px 40px 60px 40px;
  }
}

@media (max-width: 740px) {
  .working-main-title {
    font-size: 26px;
    margin-bottom: 40px;
  }
  .cert-images {
    grid-template-columns: 1fr;
  }
  .cert {
    padding: 50px 20px 50px 20px;
  }
}
