@font-face {
    font-family: 'Pragmatica';
    src: url('Pragmatica.woff2') format('woff2'),
        url('Pragmatica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

